@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #a7befd;
    --second: #630ab6;
    --bgColor: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

h1,
h2,
h4,
p {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--bgColor);
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
    transition: 0.5s;
    z-index: 100000;
}

header.scrolled {
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid var(--primary);
    border-image: linear-gradient(90deg, transparent, var(--primary), transparent) 30;
    backdrop-filter: blur(20px);
    padding: 10px 100px;
}

.logo {
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
}

.nav {
    display: flex;
    /* display: inline-flex; */
}

.nav li {
    list-style: none;
    margin: 0 60px;
}

.nav li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.nav li a:hover,
.nav li a.active {
    color: var(--primary);
}

.nav li a.active {
    font-weight: bold;
}

.clothingGrid {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}
.clothingGrid img {
    width: 300px;
    height: 400px;
    margin: 7px;
    border-radius: 5px;
}
.container {
    position: relative;
}

.clothingHead {
    text-align: center;
    padding-top: 20px;
    /* margin-bottom: 0px; */
    padding-bottom: 30px;
    /* padding-bottom: 20px; */
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.overlap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 5px;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.25);
    /* Optional: adds darkening effect */
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlap img {
    width: 30px;
    height: 30px;
    /* Size of the search icon */
    transition: transform 0.5s ease;
}

.container:hover .overlap {
    opacity: 1;
}

.clothingGrid img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.5s ease;
}

.description {
    font-family: "Shadows Into Light", sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: rgb(255, 255, 255, 0.1);
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    /* margin-top: 20px; */
    border-radius: 20px;
    padding: 15px;
    text-decoration: none;
    /* font-weight: bold; */
}